.form {
  width: 480px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  align-items: center;
  margin-top: 120px;
}

.buttonwrap {
  display: flex;
  justify-content: flex-end;
  width: 480px;
}
