.order_list {
  padding: 0;
  list-style-type: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
  max-height: 695px;
  padding-right: 8px;
}

.order_list::-webkit-scrollbar {
  width: 8px;
  margin-left: 8px;
}

.order_list::-webkit-scrollbar-track {
  width: 8px;
  background: #2f2f37;
}

.order_list::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #8585ad;
}
