.container {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin-top: 80px;
}

.status {
  color: #00cccc;
  margin: 0 0 60px 0;
}

.number {
  text-align: center;
}

.order_list {
  list-style: none;
  max-height: 312px;
  overflow-y: scroll;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.order_list::-webkit-scrollbar {
  width: 8px;
  margin-left: 8px;
}

.order_list::-webkit-scrollbar-track {
  background: #2f2f37;
}

.order_list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 622px;
}

.image {
  width: inherit;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.image_container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid rgba(128, 26, 178, 1);
  box-sizing: border-box;
  position: relative;
  background-color: #131316;
  margin-right: 16px;
}

.price_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
}

.info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
