.login {
  max-width: 1300px;
  margin: 0 auto;
}

.form {
  width: 480px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  align-items: center;
  margin-top: 120px;
}

.buttonwrap {
  display: flex;
  justify-content: flex-end;
  width: 480px;
}

.wrap {
  display: flex;
  margin-top: 0;
  margin-left: 27px;
}

.leftmenu {
    margin: 0;
    padding: 0;
    width: 329px;
}

.item {
  list-style-type: none;
  padding-bottom: 34px;
}

.ulwrap {    
    margin-top: 130px;
}

.navlink {
  cursor: pointer;
  text-decoration: none;
  color: #8585ad;
}

.active {
  color: #f2f2f3;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #8585ad;
  padding: 0;
}