.header {
  max-width: 1300px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: 405px 1fr 300px;
  column-gap: 70px;
}

.item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  padding: 16px 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #8585ad;
}

.logo {
  margin-top: 20px;
  margin-bottom: 24px;
  padding-left: 38px;
}

.private {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 18px;
  padding-left: 111px;
}

.leftlinks {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
  display: flex;
}

.active {
  color: #f2f2f3;
}

.active svg {
  fill: #f2f2f3;
}
