.header {
  max-width: 1300px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: 405px 1fr 300px;
  column-gap: 70px;
}

.item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
