.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  min-width: 480px;
  padding-left: 60px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.item:last-of-type {
  margin-right: 0;
}

.image {
  width: 480px;
  height: 240px;
  padding-left: 60px;
  margin-bottom: 17px;
}

.title {
  align-self: flex-start;
}
