.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 15px;
}
.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item {
  margin-bottom: 16px;
  composes: wrap;
}

.item:last-of-type {
  margin: 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.order {
  composes: list;
  padding-top: 0;
  padding-left: 0;
  composes: wrap;
}

.locked {
  margin-bottom: 8px;
}

.unlocked {
  padding-right: 8px;
  max-height: 475px;
  overflow-y: scroll;
}

.unlocked::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.unlocked::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #8585AD;
  width: 355px;
}

.unlocked::-webkit-scrollbar-track {
  width: 8px;
  background-color: #2F2F37;
}
