.container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid rgba(128, 26, 178, 1);
    box-sizing: border-box;
    position: relative;
    margin-left: -15px;
    background-color: #131316;
  }
  
  .image {
    width: 112px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 15;
  }