.container {
  margin-top: 60px;
}

.orders_section {
  display: flex;
  flex-direction: row;
}

.order_list {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  margin: 0;
}

.orders {
  max-width: 280px;
  width: 100%;
}

.done_text {
  color: #00cccc;
}

.large_text {
  text-shadow: 0 0 16px rgb(51 51 255 / 25%), 0 0 8px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%);
}
